<launch>
   
    <param name="use_sim_time" value="true"/>
    <node pkg="rosbag" type="play" name="player" args="--clock --rate=0.5 $(find bagfiles)/bags/fr_campus_2.bag" output="screen"/>
   <!-- 
    <include file="$(find cgr_gridmap_slam_ros)/launch/gmapping.launch"/>
   --> 
    <include file="$(find cgr_gridmap_slam_ros)/launch/cgr_slam_freiburg.launch"/>
    <include file="$(find cgr_gridmap_slam_ros)/launch/rviz.launch"/>
    
    <node ns="log" pkg="rosbag" type="record" name="log_sensor"
          args="-o log_data/slam_log /tf /tf_static /raw_odom_pose /cgr_slam/entropy"/>

</launch>
